body{
    background-color: rgb(206, 221, 253);
    font-family: cursive;
    
}

h1{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 50px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 16px;
}

input{
    border: 2px solid rgb(90, 73, 243);
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(101, 177, 252);
    margin-bottom: 10px;
}

input::placeholder{
    color: rgb(215, 250, 239);
}

.criança{
    background-color: rgb(164, 203, 247);
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 2%;
    border-radius: 1%;
    border: solid 2px;
    box-shadow: 10px 10px 10px rgb(160, 185, 240);
    margin-bottom: 20px;
}

.adulto{
    background-color: rgb(164, 203, 247);
    margin: auto;
    width: 50%;
    height: 50%;
    padding: 2%;
    border-radius: 1%;
    border: solid 2px;
    box-shadow: 10px 10px 10px rgb(160, 185, 240);
    margin-bottom: 20px;
}

.texto-input{
    width: 300px;
    font-size: 15px;
    font-weight: 200;
}